<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO.Properties.Settings.connectionString" connectionString="workstation id=HnosRojas.mssql.somee.com;packet size=4096;user id=jakeAR21_SQLLogin_1;pwd=9x23cyx4i3;data source=HnosRojas.mssql.somee.com;persist security info=False;initial catalog=HnosRojas" />
    </connectionStrings>
</configuration>